@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#navbar{
    background-color:black;
    
}
ul{
    font-size: 20px;
    
}

li{
    display:inline;
    float:right;
    margin-right:30px;
    padding-top: 10px;
    height:60px;
}

#logo_li{
    float:left;
    font-size:60px;
    padding:0 !important;
}

#logo_img{
    width:150px;
    
}

#signincontainer{
    display:block;
    /* background-color:yellow; */
    margin-top:300px;
    clear: both;
    text-align:center;
    
}
#mainlogo{
    width:300px;
    margin-bottom: 10px;
}

#signinform{
    background-color: white;
    border-radius: 25px;
    border: 2px solid #E3F600;
    width:400px;
    height:430px;
    margin:auto;
    text-align:left;    
    padding-left:50px;
    padding-right:50px;
    padding-top:20px;
    margin-bottom:50px;
}

#signinheader{
    text-align:center;
    font-size: 30px !important;
    font-family: 'Roboto', sans-serif !important; 
}

#signinform input{
    height:30px;
    width:100%;
    
}

#submitbutton{
    height: 30px;
    width:100%;
    background-color:#E3F600;
    /* background-color:#1645D3; */
    margin-top:30px;
    box-shadow:none !important;
}

.errormsg{
    color:red;
}