body{
    background-image: url("../../bg.svg");
    
}

.Home {
    text-align: center;
    margin-top:10%;
   
}
  
.App-logo {
    height: 40vmin;
    width:50vmin;
    pointer-events: none;
    
}
  
.buttons{
    padding:10px;
    color:black;
}
