#navbar{
    background-color:black;
    margin-top:30px;
}
ul{
    font-size: 20px;
    
}

li{
    display:inline;
    float:right;
    margin-right:30px;
    padding-top: 10px;
}

#logo_li{
    float:left;
    font-size:60px;
    padding:0 !important;
}

#logo_img{
    width:150px;
}

#maincontainer{
    display:block;
    clear:both;
    text-align:center;
    
}

#profileheader{
    font-family: 'Sacramento', cursive;
    font-size:50px;
    padding-bottom: 5px !important;
    margin:0 !important;
}

#myprofile{
    background-color: white;
    margin:auto;
    width:450px;
    height:500px;
    border-radius: 25px;
    border: 2px solid #E3F600;
    box-shadow:0px 18px 53px 0px rgba(0,0,0,0.3);
    
}